  <div class="container mt-2">
  <div *ngIf="successMsg" class="alert alert-success" role="alert">{{ successMsg }}</div>
  <div class="d-flex justify-content-between">
    <h4>{{ editMode ? 'Edit' : 'Add' }} Project</h4>
    <div class="custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" id="customSwitch1" [checked]="editMode" (change)="onUpdateMode(false)" [disabled]="!editMode">
      <label class="custom-control-label" for="customSwitch1">{{ editMode ? 'Edit' : 'Add'}}</label>
    </div>
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="project-desc" class="col-form-label-sm">Project</label>
      <input type="text" id="project-desc" formControlName="projectDescription" class="form-control" [class.border-danger]="onError('projectDescription')" />
      <div *ngIf="onError('projectDescription')" class="text-danger small">{{ onError('projectDescription') }}</div>
    </div>
    <div class="form-row form-group">
      <div class="col-md-4">
        <label for="priority" class="col-form-label-sm">Priority:</label>
        <span class="ml-2">{{ form.value.priority }}</span>
      </div>
      <div class="col-md-6 offset-md-2">
        <input type="range" id="priority" formControlName="priority" class="form-control custom-range" min="0" max="30" step="1"/>
      </div>
    </div>
    <div class="form-group mb-2">
      <input id="start-end-date-check" type="checkbox" formControlName="startEndDateCheck">
      <label for="start-end-date-check" class="col-form-label-sm ml-2">Set Start and End Date</label>
    </div>
    <div *ngIf="form.value.startEndDateCheck" class="form-row">
      <div class="form-group col-md-6">
        <label for="start-date" class="col-form-label-sm">Start Date</label>
        <div class="input-group">
          <input type="text" id="start-date" [maxDate]="form.value.endDate" ngbDatepicker #start="ngbDatepicker"
                 formControlName="startDate" (dateSelect)="onDateSelect($event, 'startDate')"
                 class="form-control" [class.border-danger]="onError('startDate')" (click)="start.open()"/>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="start.toggle()" type="button">
              <fa-icon [icon]="faCalendar"></fa-icon></button>
          </div>
        </div>
        <div *ngIf="onError('startDate')" class="text-danger small">{{ onError('startDate') }}</div>
      </div>
      <div class="form-group col-md-6">
        <label for="start-date" class="col-form-label-sm">End Date</label>
        <div class="input-group">
          <input type="text" id="end-date" [minDate]="form.value.startDate" ngbDatepicker #end_date="ngbDatepicker"
                 formControlName="endDate" (dateSelect)="onDateSelect($event, 'endDate')"
                 class="form-control" [class.border-danger]="onError('endDate')" (click)="end_date.open()"/>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="end_date.toggle()" type="button">
              <fa-icon [icon]="faCalendar"></fa-icon></button>
          </div>
        </div>
        <div *ngIf="onError('endDate')" class="text-danger small">{{ onError('endDate') }}</div>
      </div>
    </div>

    <div class="form-group">
      <label for="manager" class="col-form-label-sm">Manager</label>
      <div class="input-group mb-3">
        <input type="text" id="manager" [value]="form.value.manager ? (form.value.manager.firstName + ' ' + form.value.manager.lastName) : ''" class="form-control"
               [class.border-danger]="onError('manager')" readonly />
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" (click)="onSearchUser(userModal)">Search</button>
        </div>
      </div>
      <div *ngIf="onError('manager')" class="text-danger small">{{ onError('manager') }}</div>
    </div>

    <input type="submit" class="btn btn-primary mr-2 btn-sm" [disabled]="!form.valid" value="{{ editMode ? 'Update' : 'Create' }}"/>
    <input type="button" class="btn btn-secondary btn-sm" value="Reset" (click)="onReset()"/>
  </form>

  <ng-template #userModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Search User</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <input type="text" id="search-user" placeholder="Search..." name="search" [(ngModel)]="searchUser" class="form-control" />
        </div>
      </form>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let t of (users | filterUser:'userName':searchUser)">
          <div class="d-flex justify-content-between">
            <div class="w-75">
              <div class="row">
                <span class="col-sm-6">Name:</span><span class="col-sm-6 font-italic">{{ t.firstName + ' ' + t.lastName }}</span>
              </div>
              <div class="row">
                <span class="col-sm-6">Employee ID:</span><span class="col-sm-6 font-italic">{{ t.employeeId }}</span>
              </div>
            </div>
            <button [ngClass]="['btn', 'btn-sm', this.selectedUser === t.id ? 'btn-primary' : 'btn-outline-primary']"
                    (click)="onSelectUser(t.id)">Select</button>
          </div>
        </li>
      </ul>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
  </ng-template>
</div>
