<app-project-new (dataEvent)="onDataEvent($event)" [projectToUpdate]="projectToUpdate"></app-project-new>

<div class="container mt-4">
  <hr/>
  <div class="row mb-2">
    <form class="form-group col-md-4">
      <input type="text" id="search-task-desc" placeholder="Search..." name="search" [(ngModel)]="search" class="form-control" />
    </form>
    <div class="col-md-5 offset-md-3">
      <div class="d-flex justify-content-md-between flex-wrap">
        <label class="col-form-label-sm">Sort By:</label>
        <button (click)="onSort('startDate')" class="btn btn-link btn-sm">Start Date</button>
        <button (click)="onSort('endDate')" class="btn btn-link btn-sm">End Date</button>
        <button (click)="onSort('priority')" class="btn btn-link btn-sm">Priority</button>
        <button (click)="onSort('completed')" class="btn btn-link btn-sm">Completed</button>
      </div>
    </div>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let t of (projects | filterProject:'projectDescription':search | sortProject:sortEvent )">
      <div class="d-flex justify-content-between">
        <h5>{{ t.projectDescription }}
          <span [ngClass]="['badge', 'ml-2', t.isCompleted ? 'badge-success' : 'badge-warning']">
            {{ t.isCompleted ? 'Completed' : 'Ongoing' }}
          </span>
        </h5>
        <div>
          <button class="btn btn-outline-secondary btn-sm" [disabled]="t.isCompleted" (click)="onEdit(t.id)">Edit</button>
          <button class="btn btn-outline-danger btn-sm ml-2" [disabled]="t.isCompleted" (click)="onSuspend(t.id)">Suspend</button>
        </div>
      </div>
      <div class="row">
        <span class="col-md-3 col-sm-6">Priority:</span><span class="col-md-3 col-sm-6 font-italic">{{ t.priority }}</span>
      </div>
      <div class="row">
        <span class="col-md-3 col-sm-6">Manager:</span><span class="col-md-3 col-sm-6 font-italic">{{ t.manager.firstName + ' ' + t.manager.lastName }}</span>
      </div>
      <div class="row">
        <span class="col-md-3 col-sm-6">No. of Tasks:</span><span class="col-md-3 col-sm-6 font-italic">{{ 0 }}</span>
      </div>
      <div class="row">
        <span class="col-md-3 col-sm-6">Start Date:</span><span class="col-md-3 col-sm-6 font-italic">{{ t.startDate | date }}</span>
        <span class="col-md-3 col-sm-6">End Date:</span><span class="col-md-3 col-sm-6 font-italic">{{ t.endDate | date }}</span>
      </div>
    </li>
  </ul>
</div>
